a {
  text-decoration: none !important;
  color: inherit;
}

a,
span {
  transition: all 0.4s ease-in-out;
}

a.active span {
  color: crimson;
}

.flex_content{
  display: flex;
  align-items: flex-start;
}
.slider{
  width: 260px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.slider *{
  font-size: 20px;
  color: #333;
}
.slider a.active{
  color: royalblue;
}
.slider_link{
  border-bottom: 1px solid #3333337b;
  width: 100%;
  padding: 8px 0;
}



table{
  width: 100%;
  border-collapse: collapse;
}
td, th{
  border: 1px solid black;
  padding: 10px;
}
